@import url('./fonts.css');
@import url('./reset.css');
:root {
  --max-width: 1250px;
  --default-font-color: #ffffff;
  --default-background-color: #000000;
  --default-font-weight: 400;
  --default-font-stretch: 100%;
  --default-header-height: 90px;
  --font-montserrat-base: 'Montserrat', sans-serif;
  --font-montserrat-italic: 'Montserrat-Italic', sans-serif;
  --loader-background-color: #eeeeee;
  --loader-highlight-color: #dedede;
}

body {
  font-family: var(--font-montserrat-base);
  min-height: 100vh;
  background-color: var(--default-background-color);
  color: var(--default-font-color);
}

main {
  padding-top: var(--default-header-height);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-family: var(--font-montserrat-italic);
  font-size: 2.5rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
}
