.wrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../../../../public/images/galaxy.png');
  background-repeat: repeat-x;
}

.stars {
  width: 1px;
  height: 1px;
  background: #0000;
  box-shadow:
  117px 1613px #b6dcff,
  1117px 1306px #b6dcff,
  1078px 1783px #b6dcff,
  1179px 1085px #b6dcff,
  1145px 920px #b6dcff,
  422px 1233px #b6dcff,
  387px 98px #b6dcff,
  1153px 637px #b6dcff,
  1084px 782px #b6dcff,
  476px 453px #b6dcff,
  1488px 635px #b6dcff,
  944px 914px #b6dcff,
  647px 277px #b6dcff,
  415px 1960px #b6dcff;
  -webkit-animation: animStar 50s linear infinite;
  -moz-animation: animStar 50s linear infinite;
  -ms-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}

.stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: #0000;
  box-shadow:
  1117px 1306px #b6dcff,
  1078px 1783px #b6dcff,
  1179px 1085px #b6dcff,
  1145px 920px #b6dcff,
  422px 1233px #b6dcff,
  387px 98px #b6dcff,
  1153px 637px #b6dcff,
  1084px 782px #b6dcff,
  476px 453px #b6dcff,
  926px 1306px #b6dcff,
  117px 1613px #b6dcff,
  1488px 635px #b6dcff,
  944px 914px #b6dcff,
  740px 1826px #b6dcff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: #0000;
  box-shadow:
    1117px 1306px #b6dcff,
    1078px 1783px #b6dcff,
    1179px 1085px #b6dcff,
    1145px 920px #b6dcff,
    422px 1233px #b6dcff,
    387px 98px #b6dcff,
    1153px 637px #b6dcff,
    1084px 782px #b6dcff,
    476px 453px #b6dcff,
    926px 1306px #b6dcff,
    60px 1086px #b6dcff,
    753px 1575px #b6dcff,
    272px 1684px #b6dcff,
    1285px 750px #b6dcff,
    1416px 1327px #b6dcff,
    1931px 473px #b6dcff,
    736px 1395px #b6dcff,
    1816px 763px #b6dcff,
    438px 879px #b6dcff,
    665px 1902px #b6dcff,
    1341px 677px #b6dcff,
    1404px 1073px #b6dcff,
    100px 597px #b6dcff,
    357px 1689px #b6dcff,
    1044px 1342px #b6dcff,
    1954px 502px #b6dcff,
    1192px 1308px #b6dcff,
    540px 1239px #b6dcff,
    1360px 552px #b6dcff,
    89px 752px #b6dcff,
    659px 1253px #b6dcff,
    62px 517px #b6dcff,
    1375px 1705px #b6dcff,
    1343px 1511px #b6dcff,
    1659px 1922px #b6dcff,
    1560px 289px #b6dcff,
    1362px 1799px #b6dcff,
    1886px 1480px #b6dcff,
    1718px 1885px #b6dcff,
    824px 738px #b6dcff,
    1060px 1370px #b6dcff,
    1781px 1171px #b6dcff,
    255px 273px #b6dcff,
    1197px 120px #b6dcff,
    213px 7px #b6dcff,
    1226px 1920px #b6dcff,
    1844px 207px #b6dcff,
    1675px 970px #b6dcff,
    1435px 1283px #b6dcff,
    37px 353px #b6dcff,
    59px 417px #b6dcff,
    921px 1602px #b6dcff,
    1549px 1490px #b6dcff,
    638px 1845px #b6dcff,
    1328px 198px #b6dcff,
    1050px 1149px #b6dcff,
    1884px 711px #b6dcff,
    333px 263px #b6dcff,
    342px 1508px #b6dcff,
    1388px 1810px #b6dcff,
    1377px 1558px #b6dcff,
    890px 487px #b6dcff,
    1081px 759px #b6dcff,
    890px 1515px #b6dcff,
    911px 1284px #b6dcff,
    335px 735px #b6dcff,
    1140px 549px #b6dcff,
    1239px 1064px #b6dcff,
    226px 71px #b6dcff,
    1100px 1278px #b6dcff,
    1851px 1805px #b6dcff,
    1370px 1999px #b6dcff,
    1008px 1122px #b6dcff,
    785px 813px #b6dcff,
    1358px 601px #b6dcff,
    1833px 1305px #b6dcff,
    1768px 1304px #b6dcff,
    1303px 532px #b6dcff,
    860px 598px #b6dcff,
    1329px 593px #b6dcff,
    1038px 1088px #b6dcff,
    408px 405px #b6dcff,
    965px 82px #b6dcff,
    1483px 1438px #b6dcff,
    310px 1479px #b6dcff,
    1786px 1500px #b6dcff,
    1866px 852px #b6dcff,
    18px 1757px #b6dcff,
    1473px 1004px #b6dcff,
    1542px 1933px #b6dcff,
    633px 1970px #b6dcff,
    1334px 1713px #b6dcff,
    175px 28px #b6dcff,
    592px 894px #b6dcff,
    121px 1162px #b6dcff,
    1601px 1567px #b6dcff,
    1095px 657px #b6dcff,
    640px 1233px #b6dcff,
    1073px 1255px #b6dcff,
    840px 1087px #b6dcff,
    718px 250px #b6dcff,
    967px 709px #b6dcff,
    731px 239px #b6dcff,
    1623px 593px #b6dcff,
    1058px 1820px #b6dcff,
    516px 1898px #b6dcff,
    666px 12px #b6dcff,
    1997px 1382px #b6dcff,
    112px 1690px #b6dcff,
    687px 1309px #b6dcff,
    63px 539px #b6dcff,
    185px 1897px #b6dcff,
    1055px 1691px #b6dcff,
    435px 1517px #b6dcff,
    1175px 1119px #b6dcff,
    1721px 133px #b6dcff,
    1212px 47px #b6dcff,
    166px 18px #b6dcff,
    1416px 1652px #b6dcff,
    1409px 1745px #b6dcff,
    1357px 1232px #b6dcff,
    1677px 1998px #b6dcff,
    448px 1415px #b6dcff,
    705px 1736px #b6dcff,
    1031px 1466px #b6dcff,
    543px 1651px #b6dcff,
    1592px 1888px #b6dcff,
    1749px 1175px #b6dcff,
    639px 1114px #b6dcff,
    1591px 508px #b6dcff,
    759px 1244px #b6dcff,
    824px 380px #b6dcff,
    942px 955px #b6dcff,
    723px 732px #b6dcff,
    113px 1369px #b6dcff,
    203px 1739px #b6dcff,
    868px 733px #b6dcff,
    713px 971px #b6dcff,
    341px 833px #b6dcff,
    762px 824px #b6dcff,
    1359px 310px #b6dcff,
    1858px 1349px #b6dcff,
    1531px 692px #b6dcff,
    1075px 1512px #b6dcff,
    1677px 142px #b6dcff,
    1912px 1478px #b6dcff,
    1810px 1078px #b6dcff,
    426px 844px #b6dcff,
    1426px 588px #b6dcff,
    1909px 654px #b6dcff,
    1107px 295px #b6dcff,
    1351px 527px #b6dcff,
    1393px 599px #b6dcff,
    1379px 1068px #b6dcff,
    228px 1846px #b6dcff,
    1271px 374px #b6dcff,
    1348px 612px #b6dcff,
    7px 1301px #b6dcff,
    1501px 1782px #b6dcff,
    1795px 423px #b6dcff,
    1475px 1918px #b6dcff,
    1328px 1861px #b6dcff,
    1624px 51px #b6dcff,
    1791px 672px #b6dcff,
    1594px 1467px #b6dcff,
    1655px 1603px #b6dcff,
    919px 850px #b6dcff,
    523px 609px #b6dcff,
    1196px 207px #b6dcff,
    753px 410px #b6dcff,
    686px 1097px #b6dcff,
    1570px 133px #b6dcff,
    1996px 1137px #b6dcff,
    361px 116px #b6dcff,
    1015px 462px #b6dcff,
    76px 1143px #b6dcff,
    491px 1818px #b6dcff,
    1563px 795px #b6dcff,
    982px 1721px #b6dcff,
    831px 1204px #b6dcff,
    1737px 589px #b6dcff,
    861px 1579px #b6dcff,
    1666px 130px #b6dcff,
    698px 1799px #b6dcff,
    726px 1519px #b6dcff,
    109px 1208px #b6dcff,
    1184px 1057px #b6dcff,
    835px 451px #b6dcff,
    896px 594px #b6dcff,
    35px 893px #b6dcff,
    895px 542px #b6dcff,
    706px 225px #b6dcff,
    56px 1040px #b6dcff,
    1954px 108px #b6dcff,
    1439px 1423px #b6dcff,
    26px 1881px #b6dcff,
    802px 1564px #b6dcff,
    273px 708px #b6dcff,
    40px 31px #b6dcff,
    859px 108px #b6dcff;
  -webkit-animation: animStar 100s linear infinite;
  -moz-animation: animStar 100s linear infinite;
  -ms-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
}

.stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: #0000;
  box-shadow:
    1117px 1306px #b6dcff,
    1078px 1783px #b6dcff,
    1179px 1085px #b6dcff,
    1145px 920px #b6dcff,
    422px 1233px #b6dcff,
    387px 98px #b6dcff,
    1153px 637px #b6dcff,
    1084px 782px #b6dcff,
    476px 453px #b6dcff,
    926px 1306px #b6dcff,
    60px 1086px #b6dcff,
    753px 1575px #b6dcff,
    272px 1684px #b6dcff,
    1285px 750px #b6dcff,
    1416px 1327px #b6dcff,
    1931px 473px #b6dcff,
    736px 1395px #b6dcff,
    1816px 763px #b6dcff,
    438px 879px #b6dcff,
    665px 1902px #b6dcff,
    1341px 677px #b6dcff,
    1404px 1073px #b6dcff,
    100px 597px #b6dcff,
    357px 1689px #b6dcff,
    1044px 1342px #b6dcff,
    1954px 502px #b6dcff,
    1192px 1308px #b6dcff,
    540px 1239px #b6dcff,
    1360px 552px #b6dcff,
    89px 752px #b6dcff,
    659px 1253px #b6dcff,
    62px 517px #b6dcff,
    1375px 1705px #b6dcff,
    1343px 1511px #b6dcff,
    1659px 1922px #b6dcff,
    1560px 289px #b6dcff,
    1362px 1799px #b6dcff,
    1886px 1480px #b6dcff,
    1718px 1885px #b6dcff,
    824px 738px #b6dcff,
    1060px 1370px #b6dcff,
    1781px 1171px #b6dcff,
    255px 273px #b6dcff,
    1197px 120px #b6dcff,
    213px 7px #b6dcff,
    1226px 1920px #b6dcff,
    1844px 207px #b6dcff,
    1675px 970px #b6dcff,
    1435px 1283px #b6dcff,
    37px 353px #b6dcff,
    59px 417px #b6dcff,
    921px 1602px #b6dcff,
    1549px 1490px #b6dcff,
    638px 1845px #b6dcff,
    1328px 198px #b6dcff,
    1050px 1149px #b6dcff,
    1884px 711px #b6dcff,
    333px 263px #b6dcff,
    342px 1508px #b6dcff,
    1388px 1810px #b6dcff,
    1377px 1558px #b6dcff,
    890px 487px #b6dcff,
    1081px 759px #b6dcff,
    890px 1515px #b6dcff,
    911px 1284px #b6dcff,
    335px 735px #b6dcff,
    1140px 549px #b6dcff,
    1239px 1064px #b6dcff,
    226px 71px #b6dcff,
    1100px 1278px #b6dcff,
    1851px 1805px #b6dcff,
    1370px 1999px #b6dcff,
    1008px 1122px #b6dcff,
    785px 813px #b6dcff,
    1358px 601px #b6dcff,
    1833px 1305px #b6dcff,
    1768px 1304px #b6dcff,
    1303px 532px #b6dcff,
    860px 598px #b6dcff,
    1329px 593px #b6dcff,
    1038px 1088px #b6dcff,
    408px 405px #b6dcff,
    965px 82px #b6dcff,
    1483px 1438px #b6dcff,
    310px 1479px #b6dcff,
    1786px 1500px #b6dcff,
    1866px 852px #b6dcff,
    18px 1757px #b6dcff,
    1473px 1004px #b6dcff,
    1542px 1933px #b6dcff,
    633px 1970px #b6dcff,
    1334px 1713px #b6dcff,
    175px 28px #b6dcff,
    592px 894px #b6dcff,
    121px 1162px #b6dcff,
    1601px 1567px #b6dcff,
    1095px 657px #b6dcff,
    640px 1233px #b6dcff,
    1073px 1255px #b6dcff,
    840px 1087px #b6dcff,
    718px 250px #b6dcff,
    967px 709px #b6dcff,
    731px 239px #b6dcff,
    1623px 593px #b6dcff,
    1058px 1820px #b6dcff,
    516px 1898px #b6dcff,
    666px 12px #b6dcff,
    1997px 1382px #b6dcff,
    112px 1690px #b6dcff,
    687px 1309px #b6dcff,
    63px 539px #b6dcff,
    185px 1897px #b6dcff,
    1055px 1691px #b6dcff,
    435px 1517px #b6dcff,
    1175px 1119px #b6dcff,
    1721px 133px #b6dcff,
    1212px 47px #b6dcff,
    166px 18px #b6dcff,
    1416px 1652px #b6dcff,
    1409px 1745px #b6dcff,
    1357px 1232px #b6dcff,
    1677px 1998px #b6dcff,
    448px 1415px #b6dcff,
    705px 1736px #b6dcff,
    1031px 1466px #b6dcff,
    543px 1651px #b6dcff,
    1592px 1888px #b6dcff,
    1749px 1175px #b6dcff,
    639px 1114px #b6dcff,
    1591px 508px #b6dcff,
    759px 1244px #b6dcff,
    824px 380px #b6dcff,
    942px 955px #b6dcff,
    723px 732px #b6dcff,
    113px 1369px #b6dcff,
    203px 1739px #b6dcff,
    868px 733px #b6dcff,
    713px 971px #b6dcff,
    341px 833px #b6dcff,
    762px 824px #b6dcff,
    1359px 310px #b6dcff,
    1858px 1349px #b6dcff,
    1531px 692px #b6dcff,
    1075px 1512px #b6dcff,
    1677px 142px #b6dcff,
    1912px 1478px #b6dcff,
    1810px 1078px #b6dcff,
    426px 844px #b6dcff,
    1426px 588px #b6dcff,
    1909px 654px #b6dcff,
    1107px 295px #b6dcff,
    1351px 527px #b6dcff,
    1393px 599px #b6dcff,
    1379px 1068px #b6dcff,
    228px 1846px #b6dcff,
    1271px 374px #b6dcff,
    1348px 612px #b6dcff,
    7px 1301px #b6dcff,
    1501px 1782px #b6dcff,
    1795px 423px #b6dcff,
    1475px 1918px #b6dcff,
    1328px 1861px #b6dcff,
    1624px 51px #b6dcff,
    1791px 672px #b6dcff,
    1594px 1467px #b6dcff,
    1655px 1603px #b6dcff,
    919px 850px #b6dcff,
    523px 609px #b6dcff,
    1196px 207px #b6dcff,
    753px 410px #b6dcff,
    686px 1097px #b6dcff,
    1570px 133px #b6dcff,
    1996px 1137px #b6dcff,
    361px 116px #b6dcff,
    1015px 462px #b6dcff,
    76px 1143px #b6dcff,
    491px 1818px #b6dcff,
    1563px 795px #b6dcff,
    982px 1721px #b6dcff,
    831px 1204px #b6dcff,
    1737px 589px #b6dcff,
    861px 1579px #b6dcff,
    1666px 130px #b6dcff,
    698px 1799px #b6dcff,
    726px 1519px #b6dcff,
    109px 1208px #b6dcff,
    1184px 1057px #b6dcff,
    835px 451px #b6dcff,
    896px 594px #b6dcff,
    35px 893px #b6dcff,
    895px 542px #b6dcff,
    706px 225px #b6dcff,
    56px 1040px #b6dcff,
    1954px 108px #b6dcff,
    1439px 1423px #b6dcff,
    26px 1881px #b6dcff,
    802px 1564px #b6dcff,
    273px 708px #b6dcff,
    40px 31px #b6dcff,
    859px 108px #b6dcff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: #0000;
  box-shadow:
    940px 1360px #b6dcff,
    1071px 539px #b6dcff,
    1710px 1414px #b6dcff,
    836px 299px #b6dcff,
    1944px 1420px #b6dcff,
    253px 1449px #b6dcff,
    1257px 1250px #b6dcff,
    1588px 1830px #b6dcff,
    1077px 1204px #b6dcff,
    273px 1081px #b6dcff,
    1993px 766px #b6dcff,
    1808px 479px #b6dcff,
    917px 263px #b6dcff,
    663px 1820px #b6dcff,
    342px 1988px #b6dcff,
    727px 1250px #b6dcff,
    636px 1666px #b6dcff,
    692px 1112px #b6dcff,
    248px 1211px #b6dcff,
    1422px 1121px #b6dcff,
    881px 46px #b6dcff,
    1531px 1977px #b6dcff,
    1643px 1023px #b6dcff,
    684px 1071px #b6dcff,
    1142px 1873px #b6dcff,
    292px 1313px #b6dcff,
    256px 1237px #b6dcff,
    89px 912px #b6dcff,
    964px 1783px #b6dcff,
    877px 760px #b6dcff,
    1641px 1474px #b6dcff,
    1492px 24px #b6dcff,
    1776px 1642px #b6dcff,
    183px 602px #b6dcff,
    1998px 62px #b6dcff,
    1560px 367px #b6dcff,
    1333px 995px #b6dcff,
    704px 1815px #b6dcff,
    1809px 712px #b6dcff,
    1503px 288px #b6dcff,
    630px 556px #b6dcff,
    1715px 125px #b6dcff,
    353px 1878px #b6dcff,
    975px 333px #b6dcff,
    1740px 1409px #b6dcff,
    1341px 1871px #b6dcff,
    1279px 1064px #b6dcff,
    169px 874px #b6dcff,
    161px 528px #b6dcff,
    1671px 1669px #b6dcff,
    169px 632px #b6dcff,
    547px 1724px #b6dcff,
    1904px 110px #b6dcff,
    679px 1670px #b6dcff,
    196px 123px #b6dcff,
    786px 871px #b6dcff,
    1840px 324px #b6dcff,
    356px 967px #b6dcff,
    61px 549px #b6dcff,
    99px 677px #b6dcff,
    1719px 87px #b6dcff,
    1713px 1990px #b6dcff,
    1717px 1358px #b6dcff,
    108px 1187px #b6dcff,
    51px 869px #b6dcff,
    1461px 902px #b6dcff,
    1034px 891px #b6dcff,
    962px 1881px #b6dcff,
    1723px 595px #b6dcff,
    479px 901px #b6dcff,
    1546px 1823px #b6dcff,
    285px 1208px #b6dcff,
    1056px 347px #b6dcff,
    261px 988px #b6dcff,
    466px 990px #b6dcff,
    1657px 648px #b6dcff,
    1249px 933px #b6dcff,
    1552px 1555px #b6dcff,
    147px 62px #b6dcff,
    292px 1157px #b6dcff,
    1816px 423px #b6dcff,
    1714px 757px #b6dcff,
    1036px 961px #b6dcff,
    1955px 710px #b6dcff,
    1842px 516px #b6dcff,
    479px 1870px #b6dcff,
    1579px 1445px #b6dcff,
    1225px 1309px #b6dcff,
    1965px 566px #b6dcff,
    1575px 1072px #b6dcff,
    923px 329px #b6dcff,
    651px 1514px #b6dcff,
    865px 1100px #b6dcff,
    782px 1873px #b6dcff,
    115px 299px #b6dcff,
    14px 1668px #b6dcff,
    1666px 1817px #b6dcff,
    1096px 1068px #b6dcff,
    1462px 742px #b6dcff,
    1384px 1750px #b6dcff;
  -webkit-animation: animStar 150s linear infinite;
  -moz-animation: animStar 150s linear infinite;
  -ms-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}

.stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: #0000;
  box-shadow:
    940px 1360px #b6dcff,
    1071px 539px #b6dcff,
    1710px 1414px #b6dcff,
    836px 299px #b6dcff,
    1944px 1420px #b6dcff,
    253px 1449px #b6dcff,
    1257px 1250px #b6dcff,
    1588px 1830px #b6dcff,
    1077px 1204px #b6dcff,
    273px 1081px #b6dcff,
    1993px 766px #b6dcff,
    1808px 479px #b6dcff,
    917px 263px #b6dcff,
    663px 1820px #b6dcff,
    342px 1988px #b6dcff,
    727px 1250px #b6dcff,
    636px 1666px #b6dcff,
    692px 1112px #b6dcff,
    248px 1211px #b6dcff,
    1422px 1121px #b6dcff,
    881px 46px #b6dcff,
    1531px 1977px #b6dcff,
    1643px 1023px #b6dcff,
    684px 1071px #b6dcff,
    1142px 1873px #b6dcff,
    292px 1313px #b6dcff,
    256px 1237px #b6dcff,
    89px 912px #b6dcff,
    964px 1783px #b6dcff,
    877px 760px #b6dcff,
    1641px 1474px #b6dcff,
    1492px 24px #b6dcff,
    1776px 1642px #b6dcff,
    183px 602px #b6dcff,
    1998px 62px #b6dcff,
    1560px 367px #b6dcff,
    1333px 995px #b6dcff,
    704px 1815px #b6dcff,
    1809px 712px #b6dcff,
    1503px 288px #b6dcff,
    630px 556px #b6dcff,
    1715px 125px #b6dcff,
    353px 1878px #b6dcff,
    975px 333px #b6dcff,
    1740px 1409px #b6dcff,
    1341px 1871px #b6dcff,
    1279px 1064px #b6dcff,
    169px 874px #b6dcff,
    161px 528px #b6dcff,
    1671px 1669px #b6dcff,
    169px 632px #b6dcff,
    547px 1724px #b6dcff,
    1904px 110px #b6dcff,
    679px 1670px #b6dcff,
    196px 123px #b6dcff,
    786px 871px #b6dcff,
    1840px 324px #b6dcff,
    356px 967px #b6dcff,
    61px 549px #b6dcff,
    99px 677px #b6dcff,
    1719px 87px #b6dcff,
    1713px 1990px #b6dcff,
    1717px 1358px #b6dcff,
    108px 1187px #b6dcff,
    51px 869px #b6dcff,
    1461px 902px #b6dcff,
    1034px 891px #b6dcff,
    962px 1881px #b6dcff,
    1723px 595px #b6dcff,
    479px 901px #b6dcff,
    1546px 1823px #b6dcff,
    285px 1208px #b6dcff,
    1056px 347px #b6dcff,
    261px 988px #b6dcff,
    466px 990px #b6dcff,
    1657px 648px #b6dcff,
    1249px 933px #b6dcff,
    1552px 1555px #b6dcff,
    147px 62px #b6dcff,
    292px 1157px #b6dcff,
    1816px 423px #b6dcff,
    1714px 757px #b6dcff,
    1036px 961px #b6dcff,
    1955px 710px #b6dcff,
    1842px 516px #b6dcff,
    479px 1870px #b6dcff,
    1579px 1445px #b6dcff,
    1225px 1309px #b6dcff,
    1965px 566px #b6dcff,
    1575px 1072px #b6dcff,
    923px 329px #b6dcff,
    651px 1514px #b6dcff,
    865px 1100px #b6dcff,
    782px 1873px #b6dcff,
    115px 299px #b6dcff,
    14px 1668px #b6dcff,
    1666px 1817px #b6dcff,
    1096px 1068px #b6dcff,
    1462px 742px #b6dcff,
    1384px 1750px #b6dcff;
}

.stars4 {
  width: 1px;
  height: 1px;
  background: #0000;
  box-shadow:
    233px 1976px #b6dcff,
    1196px 1119px #b6dcff,
    646px 740px #b6dcff,
    335px 645px #b6dcff,
    1119px 1452px #b6dcff,
    176px 1870px #b6dcff,
    639px 1711px #b6dcff,
    647px 1388px #b6dcff,
    1516px 1108px #b6dcff,
    464px 66px #b6dcff,
    331px 344px #b6dcff,
    772px 1189px #b6dcff,
    1516px 1850px #b6dcff,
    1500px 1463px #b6dcff,
    1275px 876px #b6dcff,
    1107px 645px #b6dcff,
    977px 478px #b6dcff,
    583px 1179px #b6dcff,
    284px 395px #b6dcff,
    1220px 461px #b6dcff,
    1160px 249px #b6dcff,
    196px 865px #b6dcff,
    670px 1915px #b6dcff,
    1449px 382px #b6dcff,
    1191px 546px #b6dcff,
    1329px 605px #b6dcff,
    1945px 458px #b6dcff,
    995px 749px #b6dcff,
    1495px 861px #b6dcff,
    708px 1731px #b6dcff,
    348px 653px #b6dcff,
    548px 1298px #b6dcff,
    1606px 990px #b6dcff,
    1049px 1204px #b6dcff,
    253px 1501px #b6dcff,
    1154px 166px #b6dcff,
    1087px 104px #b6dcff,
    1034px 1161px #b6dcff,
    1681px 462px #b6dcff,
    577px 1897px #b6dcff,
    193px 1901px #b6dcff,
    1701px 1755px #b6dcff,
    864px 1297px #b6dcff,
    800px 1289px #b6dcff,
    676px 28px #b6dcff,
    185px 1341px #b6dcff,
    379px 1151px #b6dcff,
    1224px 1725px #b6dcff,
    280px 541px #b6dcff,
    473px 1196px #b6dcff,
    921px 1628px #b6dcff,
    969px 432px #b6dcff,
    1475px 758px #b6dcff,
    1195px 993px #b6dcff,
    876px 1840px #b6dcff,
    1274px 1689px #b6dcff,
    1977px 1101px #b6dcff,
    837px 527px #b6dcff,
    1785px 1610px #b6dcff,
    1650px 1843px #b6dcff,
    1127px 1508px #b6dcff,
    401px 1050px #b6dcff,
    51px 1105px #b6dcff,
    545px 880px #b6dcff,
    1786px 1672px #b6dcff,
    318px 260px #b6dcff,
    568px 254px #b6dcff,
    1026px 1527px #b6dcff,
    1242px 852px #b6dcff,
    1785px 982px #b6dcff,
    1318px 1071px #b6dcff,
    398px 1061px #b6dcff,
    1509px 257px #b6dcff,
    599px 928px #b6dcff,
    1195px 1800px #b6dcff,
    1254px 906px #b6dcff,
    141px 26px #b6dcff,
    1384px 1502px #b6dcff,
    476px 767px #b6dcff,
    1973px 722px #b6dcff,
    1339px 1031px #b6dcff,
    778px 818px #b6dcff,
    213px 1320px #b6dcff,
    184px 221px #b6dcff,
    983px 1911px #b6dcff,
    923px 1439px #b6dcff,
    1936px 581px #b6dcff,
    1105px 625px #b6dcff,
    325px 729px #b6dcff,
    1475px 204px #b6dcff,
    1483px 1564px #b6dcff,
    1327px 1272px #b6dcff,
    1187px 1944px #b6dcff,
    1945px 1471px #b6dcff,
    116px 960px #b6dcff,
    1660px 1610px #b6dcff,
    412px 1022px #b6dcff,
    1552px 1516px #b6dcff,
    1517px 1892px #b6dcff,
    306px 829px #b6dcff,
    1416px 462px #b6dcff,
    1575px 1460px #b6dcff,
    424px 1500px #b6dcff,
    1530px 1169px #b6dcff,
    1388px 1608px #b6dcff,
    185px 416px #b6dcff,
    634px 1446px #b6dcff,
    767px 479px #b6dcff,
    71px 426px #b6dcff,
    1937px 145px #b6dcff,
    1955px 1312px #b6dcff,
    1811px 611px #b6dcff,
    1145px 569px #b6dcff,
    1460px 676px #b6dcff,
    131px 1858px #b6dcff,
    1557px 473px #b6dcff,
    735px 130px #b6dcff,
    112px 1531px #b6dcff,
    1312px 305px #b6dcff,
    409px 1032px #b6dcff,
    149px 1964px #b6dcff,
    535px 1215px #b6dcff,
    1382px 630px #b6dcff,
    1437px 1368px #b6dcff,
    362px 1181px #b6dcff,
    388px 181px #b6dcff,
    274px 1287px #b6dcff,
    1858px 1414px #b6dcff,
    661px 1935px #b6dcff,
    675px 1205px #b6dcff,
    1829px 1725px #b6dcff,
    1937px 1145px #b6dcff,
    237px 908px #b6dcff,
    1059px 1185px #b6dcff,
    824px 1248px #b6dcff,
    1167px 1730px #b6dcff,
    180px 1961px #b6dcff,
    1663px 203px #b6dcff,
    374px 221px #b6dcff,
    724px 1883px #b6dcff,
    970px 1362px #b6dcff,
    832px 505px #b6dcff,
    313px 233px #b6dcff,
    1909px 597px #b6dcff,
    434px 201px #b6dcff,
    587px 995px #b6dcff,
    1833px 623px #b6dcff,
    1464px 561px #b6dcff,
    231px 593px #b6dcff,
    1558px 1433px #b6dcff,
    1986px 1767px #b6dcff,
    1753px 1728px #b6dcff,
    1153px 1623px #b6dcff,
    249px 229px #b6dcff,
    1503px 1186px #b6dcff,
    1784px 137px #b6dcff,
    841px 403px #b6dcff,
    1400px 354px #b6dcff,
    197px 499px #b6dcff,
    1188px 681px #b6dcff,
    158px 391px #b6dcff,
    443px 1099px #b6dcff,
    723px 1445px #b6dcff,
    1408px 1235px #b6dcff,
    1908px 195px #b6dcff,
    271px 891px #b6dcff,
    469px 1693px #b6dcff,
    580px 11px #b6dcff,
    1533px 70px #b6dcff,
    859px 761px #b6dcff,
    1510px 1844px #b6dcff,
    421px 558px #b6dcff,
    1132px 1453px #b6dcff,
    757px 1987px #b6dcff,
    212px 293px #b6dcff,
    569px 323px #b6dcff,
    1404px 1394px #b6dcff,
    252px 1386px #b6dcff,
    1668px 1857px #b6dcff,
    123px 1684px #b6dcff,
    105px 490px #b6dcff,
    1083px 1769px #b6dcff,
    1071px 1953px #b6dcff,
    1271px 1159px #b6dcff,
    699px 1491px #b6dcff,
    1744px 1997px #b6dcff,
    1868px 1973px #b6dcff,
    1438px 1449px #b6dcff,
    1222px 1921px #b6dcff,
    1328px 1210px #b6dcff,
    438px 873px #b6dcff,
    809px 780px #b6dcff,
    491px 1524px #b6dcff,
    447px 1830px #b6dcff,
    927px 1936px #b6dcff,
    564px 691px #b6dcff,
    1784px 1747px #b6dcff,
    1978px 1722px #b6dcff,
    1599px 1480px #b6dcff,
    1276px 729px #b6dcff,
    731px 1174px #b6dcff,
    1586px 1711px #b6dcff,
    451px 1340px #b6dcff,
    1075px 1899px #b6dcff,
    13px 575px #b6dcff,
    309px 1340px #b6dcff,
    981px 183px #b6dcff,
    248px 1315px #b6dcff,
    849px 80px #b6dcff,
    1754px 1540px #b6dcff,
    73px 1432px #b6dcff,
    1208px 1828px #b6dcff,
    65px 575px #b6dcff,
    1098px 730px #b6dcff,
    127px 1358px #b6dcff,
    185px 19px #b6dcff,
    1222px 1679px #b6dcff,
    1122px 315px #b6dcff,
    1906px 452px #b6dcff,
    761px 284px #b6dcff,
    813px 492px #b6dcff,
    1344px 843px #b6dcff,
    118px 1834px #b6dcff,
    1620px 359px #b6dcff,
    1755px 1246px #b6dcff,
    299px 1076px #b6dcff,
    1746px 158px #b6dcff,
    6px 1635px #b6dcff,
    143px 190px #b6dcff,
    101px 468px #b6dcff,
    137px 971px #b6dcff,
    1221px 1929px #b6dcff,
    1752px 650px #b6dcff,
    1635px 1761px #b6dcff,
    1522px 833px #b6dcff,
    908px 153px #b6dcff,
    1044px 350px #b6dcff,
    1151px 1940px #b6dcff,
    822px 210px #b6dcff,
    1774px 310px #b6dcff,
    796px 1447px #b6dcff,
    1069px 1903px #b6dcff,
    217px 565px #b6dcff,
    662px 1370px #b6dcff,
    1876px 1570px #b6dcff,
    847px 46px #b6dcff,
    1042px 1689px #b6dcff,
    1584px 1434px #b6dcff,
    1791px 908px #b6dcff,
    973px 908px #b6dcff,
    793px 747px #b6dcff,
    122px 483px #b6dcff,
    1137px 1374px #b6dcff,
    1757px 1791px #b6dcff,
    513px 225px #b6dcff,
    63px 731px #b6dcff,
    1179px 1926px #b6dcff,
    346px 18px #b6dcff,
    589px 175px #b6dcff,
    87px 302px #b6dcff,
    380px 1295px #b6dcff,
    450px 921px #b6dcff,
    1667px 1973px #b6dcff,
    1495px 1373px #b6dcff,
    1462px 1850px #b6dcff,
    540px 288px #b6dcff,
    1208px 1051px #b6dcff,
    1554px 1095px #b6dcff,
    1009px 1516px #b6dcff,
    181px 572px #b6dcff,
    165px 387px #b6dcff,
    549px 1835px #b6dcff,
    960px 16px #b6dcff,
    1360px 403px #b6dcff,
    1251px 43px #b6dcff,
    1905px 1813px #b6dcff,
    1106px 866px #b6dcff,
    1809px 277px #b6dcff,
    1828px 1720px #b6dcff,
    295px 1610px #b6dcff,
    523px 166px #b6dcff,
    1069px 692px #b6dcff,
    1292px 217px #b6dcff,
    11px 1721px #b6dcff,
    99px 1045px #b6dcff,
    51px 1584px #b6dcff,
    1053px 266px #b6dcff,
    1287px 1235px #b6dcff,
    747px 1722px #b6dcff,
    1542px 736px #b6dcff,
    1256px 18px #b6dcff,
    102px 609px #b6dcff,
    586px 1339px #b6dcff,
    1843px 1697px #b6dcff,
    824px 1687px #b6dcff,
    1124px 882px #b6dcff,
    395px 501px #b6dcff,
    1456px 672px #b6dcff,
    1472px 1648px #b6dcff,
    1326px 1164px #b6dcff,
    777px 1672px #b6dcff,
    81px 345px #b6dcff,
    91px 386px #b6dcff,
    243px 411px #b6dcff,
    1560px 90px #b6dcff,
    6px 1771px #b6dcff,
    1601px 616px #b6dcff,
    1220px 1808px #b6dcff,
    1160px 836px #b6dcff,
    246px 1777px #b6dcff,
    456px 863px #b6dcff,
    97px 1138px #b6dcff,
    1811px 942px #b6dcff,
    213px 414px #b6dcff,
    891px 392px #b6dcff,
    1044px 927px #b6dcff,
    1856px 216px #b6dcff,
    957px 347px #b6dcff,
    1486px 406px #b6dcff,
    838px 912px #b6dcff,
    803px 361px #b6dcff,
    564px 826px #b6dcff,
    1597px 949px #b6dcff,
    1206px 289px #b6dcff,
    33px 1035px #b6dcff,
    1762px 1377px #b6dcff,
    789px 1815px #b6dcff,
    1594px 1342px #b6dcff,
    1668px 880px #b6dcff,
    1539px 1581px #b6dcff,
    1547px 53px #b6dcff,
    861px 1433px #b6dcff,
    693px 1618px #b6dcff,
    1762px 782px #b6dcff,
    1568px 682px #b6dcff,
    1126px 1762px #b6dcff,
    1242px 134px #b6dcff,
    495px 959px #b6dcff,
    1606px 219px #b6dcff,
    1878px 1415px #b6dcff,
    1652px 797px #b6dcff,
    782px 1903px #b6dcff,
    1774px 1133px #b6dcff,
    1430px 408px #b6dcff,
    265px 394px #b6dcff,
    890px 336px #b6dcff,
    1051px 311px #b6dcff,
    461px 1559px #b6dcff,
    1931px 91px #b6dcff,
    1160px 380px #b6dcff,
    1442px 1058px #b6dcff,
    1157px 364px #b6dcff,
    586px 227px #b6dcff,
    1365px 715px #b6dcff,
    1658px 1655px #b6dcff,
    1923px 1664px #b6dcff,
    1023px 1844px #b6dcff,
    1939px 1367px #b6dcff,
    1203px 1305px #b6dcff,
    359px 642px #b6dcff,
    1056px 425px #b6dcff,
    787px 202px #b6dcff,
    1609px 1850px #b6dcff,
    1964px 200px #b6dcff,
    1537px 586px #b6dcff,
    1589px 903px #b6dcff,
    1063px 1694px #b6dcff,
    760px 1185px #b6dcff,
    597px 1396px #b6dcff,
    294px 452px #b6dcff,
    433px 818px #b6dcff,
    199px 840px #b6dcff,
    1332px 1937px #b6dcff,
    169px 1907px #b6dcff,
    591px 834px #b6dcff,
    1716px 1032px #b6dcff,
    45px 1879px #b6dcff,
    686px 1469px #b6dcff,
    1520px 475px #b6dcff,
    1122px 859px #b6dcff,
    973px 1541px #b6dcff,
    269px 477px #b6dcff,
    1390px 716px #b6dcff,
    1791px 783px #b6dcff,
    824px 2000px #b6dcff,
    1211px 1717px #b6dcff,
    1008px 1587px #b6dcff,
    1422px 204px #b6dcff,
    234px 556px #b6dcff,
    506px 550px #b6dcff,
    942px 1670px #b6dcff,
    397px 853px #b6dcff,
    599px 795px #b6dcff,
    762px 1926px #b6dcff,
    1202px 1424px #b6dcff,
    135px 1316px #b6dcff,
    1442px 1692px #b6dcff,
    977px 652px #b6dcff,
    564px 1648px #b6dcff,
    997px 1474px #b6dcff,
    67px 1366px #b6dcff,
    1860px 1451px #b6dcff,
    1105px 772px #b6dcff,
    1886px 1396px #b6dcff,
    1510px 658px #b6dcff,
    976px 1544px #b6dcff,
    894px 543px #b6dcff,
    1098px 1189px #b6dcff,
    690px 77px #b6dcff,
    770px 733px #b6dcff,
    557px 1403px #b6dcff,
    1758px 1623px #b6dcff,
    1341px 812px #b6dcff,
    699px 967px #b6dcff,
    277px 866px #b6dcff,
    1526px 1828px #b6dcff,
    8px 977px #b6dcff,
    1707px 952px #b6dcff,
    12px 1900px #b6dcff,
    72px 921px #b6dcff,
    496px 1067px #b6dcff,
    1288px 1749px #b6dcff,
    273px 984px #b6dcff,
    1197px 1991px #b6dcff,
    242px 789px #b6dcff,
    903px 1035px #b6dcff,
    480px 1492px #b6dcff,
    102px 1331px #b6dcff,
    738px 1343px #b6dcff,
    560px 1475px #b6dcff,
    367px 846px #b6dcff,
    1420px 962px #b6dcff,
    1976px 892px #b6dcff,
    1911px 1763px #b6dcff,
    1639px 1002px #b6dcff,
    437px 1522px #b6dcff,
    1906px 1025px #b6dcff,
    730px 1364px #b6dcff,
    1127px 521px #b6dcff,
    1401px 1792px #b6dcff,
    1954px 1066px #b6dcff,
    232px 250px #b6dcff,
    1685px 660px #b6dcff,
    1011px 999px #b6dcff,
    1970px 790px #b6dcff,
    750px 499px #b6dcff,
    1738px 660px #b6dcff,
    1621px 1849px #b6dcff,
    446px 52px #b6dcff,
    1055px 1396px #b6dcff,
    1165px 1497px #b6dcff,
    1740px 1425px #b6dcff,
    1012px 1920px #b6dcff,
    1258px 1560px #b6dcff,
    1020px 1152px #b6dcff,
    362px 673px #b6dcff,
    1065px 975px #b6dcff,
    582px 755px #b6dcff,
    1271px 1479px #b6dcff,
    719px 548px #b6dcff,
    1602px 879px #b6dcff,
    590px 499px #b6dcff,
    721px 1412px #b6dcff,
    1180px 113px #b6dcff,
    1801px 1961px #b6dcff,
    589px 941px #b6dcff,
    883px 476px #b6dcff,
    214px 890px #b6dcff,
    1028px 892px #b6dcff,
    1107px 1832px #b6dcff,
    944px 361px #b6dcff,
    480px 1453px #b6dcff,
    1466px 683px #b6dcff,
    981px 745px #b6dcff,
    1968px 828px #b6dcff,
    657px 1830px #b6dcff,
    11px 1338px #b6dcff,
    179px 730px #b6dcff,
    1713px 197px #b6dcff,
    51px 955px #b6dcff,
    1243px 319px #b6dcff,
    1175px 624px #b6dcff,
    446px 46px #b6dcff,
    5px 1158px #b6dcff,
    82px 1352px #b6dcff,
    1877px 402px #b6dcff,
    708px 1778px #b6dcff,
    903px 1625px #b6dcff,
    1824px 352px #b6dcff,
    1229px 140px #b6dcff,
    1518px 24px #b6dcff,
    1017px 512px #b6dcff,
    515px 699px #b6dcff,
    295px 265px #b6dcff,
    69px 1773px #b6dcff,
    1640px 1163px #b6dcff,
    536px 342px #b6dcff,
    970px 1766px #b6dcff,
    560px 1416px #b6dcff,
    577px 193px #b6dcff,
    469px 9px #b6dcff,
    466px 276px #b6dcff,
    711px 853px #b6dcff,
    401px 685px #b6dcff,
    85px 506px #b6dcff,
    865px 558px #b6dcff,
    631px 105px #b6dcff,
    887px 866px #b6dcff,
    1704px 1001px #b6dcff,
    1051px 1199px #b6dcff,
    275px 1909px #b6dcff,
    1462px 829px #b6dcff,
    375px 1057px #b6dcff,
    1531px 1501px #b6dcff,
    205px 403px #b6dcff,
    33px 1869px #b6dcff,
    967px 1176px #b6dcff,
    376px 863px #b6dcff,
    1769px 1545px #b6dcff,
    535px 51px #b6dcff,
    1972px 1569px #b6dcff,
    1773px 960px #b6dcff,
    487px 620px #b6dcff,
    1660px 687px #b6dcff,
    1632px 972px #b6dcff,
    1362px 42px #b6dcff,
    479px 1655px #b6dcff,
    1531px 1808px #b6dcff,
    1450px 1412px #b6dcff,
    1549px 170px #b6dcff,
    1904px 1305px #b6dcff,
    1209px 48px #b6dcff,
    1933px 820px #b6dcff,
    1623px 595px #b6dcff,
    48px 643px #b6dcff,
    179px 1754px #b6dcff,
    589px 1032px #b6dcff,
    1199px 356px #b6dcff,
    1755px 1418px #b6dcff,
    780px 1174px #b6dcff,
    1905px 758px #b6dcff,
    1567px 713px #b6dcff,
    1372px 705px #b6dcff,
    456px 654px #b6dcff,
    759px 690px #b6dcff,
    452px 673px #b6dcff,
    993px 1610px #b6dcff,
    1271px 188px #b6dcff,
    343px 1750px #b6dcff,
    1943px 1735px #b6dcff,
    1717px 853px #b6dcff,
    1247px 303px #b6dcff,
    1314px 1895px #b6dcff,
    1203px 489px #b6dcff,
    741px 469px #b6dcff,
    4px 246px #b6dcff,
    1515px 115px #b6dcff,
    606px 218px #b6dcff,
    1966px 1471px #b6dcff,
    177px 87px #b6dcff,
    1575px 588px #b6dcff,
    1136px 1386px #b6dcff,
    70px 1868px #b6dcff,
    1053px 18px #b6dcff,
    1124px 721px #b6dcff,
    1748px 1181px #b6dcff,
    191px 1387px #b6dcff,
    1931px 840px #b6dcff,
    1088px 1603px #b6dcff,
    634px 1255px #b6dcff,
    814px 1434px #b6dcff,
    585px 64px #b6dcff,
    1074px 1618px #b6dcff,
    1692px 761px #b6dcff,
    651px 643px #b6dcff,
    193px 335px #b6dcff,
    1103px 1447px #b6dcff,
    491px 1142px #b6dcff,
    521px 408px #b6dcff,
    536px 340px #b6dcff,
    411px 1091px #b6dcff,
    1646px 193px #b6dcff,
    1595px 1285px #b6dcff,
    870px 1349px #b6dcff,
    1085px 1013px #b6dcff,
    204px 1864px #b6dcff,
    1359px 299px #b6dcff,
    807px 964px #b6dcff,
    219px 509px #b6dcff,
    36px 1227px #b6dcff,
    702px 1873px #b6dcff,
    1471px 934px #b6dcff,
    1763px 792px #b6dcff,
    973px 1957px #b6dcff,
    987px 68px #b6dcff,
    593px 1282px #b6dcff,
    1900px 607px #b6dcff,
    407px 1659px #b6dcff,
    587px 17px #b6dcff,
    632px 158px #b6dcff;
  -webkit-animation: animStar 600s linear infinite;
  -moz-animation: animStar 600s linear infinite;
  -ms-animation: animStar 600s linear infinite;
  animation: animStar 600s linear infinite;
}

.stars4:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: #0000;
  box-shadow:
    233px 1976px #b6dcff,
    1196px 1119px #b6dcff,
    646px 740px #b6dcff,
    335px 645px #b6dcff,
    1119px 1452px #b6dcff,
    176px 1870px #b6dcff,
    639px 1711px #b6dcff,
    647px 1388px #b6dcff,
    1516px 1108px #b6dcff,
    464px 66px #b6dcff,
    331px 344px #b6dcff,
    772px 1189px #b6dcff,
    1516px 1850px #b6dcff,
    1500px 1463px #b6dcff,
    1275px 876px #b6dcff,
    1107px 645px #b6dcff,
    977px 478px #b6dcff,
    583px 1179px #b6dcff,
    284px 395px #b6dcff,
    1220px 461px #b6dcff,
    1160px 249px #b6dcff,
    196px 865px #b6dcff,
    670px 1915px #b6dcff,
    1449px 382px #b6dcff,
    1191px 546px #b6dcff,
    1329px 605px #b6dcff,
    1945px 458px #b6dcff,
    995px 749px #b6dcff,
    1495px 861px #b6dcff,
    708px 1731px #b6dcff,
    348px 653px #b6dcff,
    548px 1298px #b6dcff,
    1606px 990px #b6dcff,
    1049px 1204px #b6dcff,
    253px 1501px #b6dcff,
    1154px 166px #b6dcff,
    1087px 104px #b6dcff,
    1034px 1161px #b6dcff,
    1681px 462px #b6dcff,
    577px 1897px #b6dcff,
    193px 1901px #b6dcff,
    1701px 1755px #b6dcff,
    864px 1297px #b6dcff,
    800px 1289px #b6dcff,
    676px 28px #b6dcff,
    185px 1341px #b6dcff,
    379px 1151px #b6dcff,
    1224px 1725px #b6dcff,
    280px 541px #b6dcff,
    473px 1196px #b6dcff,
    921px 1628px #b6dcff,
    969px 432px #b6dcff,
    1475px 758px #b6dcff,
    1195px 993px #b6dcff,
    876px 1840px #b6dcff,
    1274px 1689px #b6dcff,
    1977px 1101px #b6dcff,
    837px 527px #b6dcff,
    1785px 1610px #b6dcff,
    1650px 1843px #b6dcff,
    1127px 1508px #b6dcff,
    401px 1050px #b6dcff,
    51px 1105px #b6dcff,
    545px 880px #b6dcff,
    1786px 1672px #b6dcff,
    318px 260px #b6dcff,
    568px 254px #b6dcff,
    1026px 1527px #b6dcff,
    1242px 852px #b6dcff,
    1785px 982px #b6dcff,
    1318px 1071px #b6dcff,
    398px 1061px #b6dcff,
    1509px 257px #b6dcff,
    599px 928px #b6dcff,
    1195px 1800px #b6dcff,
    1254px 906px #b6dcff,
    141px 26px #b6dcff,
    1384px 1502px #b6dcff,
    476px 767px #b6dcff,
    1973px 722px #b6dcff,
    1339px 1031px #b6dcff,
    778px 818px #b6dcff,
    213px 1320px #b6dcff,
    184px 221px #b6dcff,
    983px 1911px #b6dcff,
    923px 1439px #b6dcff,
    1936px 581px #b6dcff,
    1105px 625px #b6dcff,
    325px 729px #b6dcff,
    1475px 204px #b6dcff,
    1483px 1564px #b6dcff,
    1327px 1272px #b6dcff,
    1187px 1944px #b6dcff,
    1945px 1471px #b6dcff,
    116px 960px #b6dcff,
    1660px 1610px #b6dcff,
    412px 1022px #b6dcff,
    1552px 1516px #b6dcff,
    1517px 1892px #b6dcff,
    306px 829px #b6dcff,
    1416px 462px #b6dcff,
    1575px 1460px #b6dcff,
    424px 1500px #b6dcff,
    1530px 1169px #b6dcff,
    1388px 1608px #b6dcff,
    185px 416px #b6dcff,
    634px 1446px #b6dcff,
    767px 479px #b6dcff,
    71px 426px #b6dcff,
    1937px 145px #b6dcff,
    1955px 1312px #b6dcff,
    1811px 611px #b6dcff,
    1145px 569px #b6dcff,
    1460px 676px #b6dcff,
    131px 1858px #b6dcff,
    1557px 473px #b6dcff,
    735px 130px #b6dcff,
    112px 1531px #b6dcff,
    1312px 305px #b6dcff,
    409px 1032px #b6dcff,
    149px 1964px #b6dcff,
    535px 1215px #b6dcff,
    1382px 630px #b6dcff,
    1437px 1368px #b6dcff,
    362px 1181px #b6dcff,
    388px 181px #b6dcff,
    274px 1287px #b6dcff,
    1858px 1414px #b6dcff,
    661px 1935px #b6dcff,
    675px 1205px #b6dcff,
    1829px 1725px #b6dcff,
    1937px 1145px #b6dcff,
    237px 908px #b6dcff,
    1059px 1185px #b6dcff,
    824px 1248px #b6dcff,
    1167px 1730px #b6dcff,
    180px 1961px #b6dcff,
    1663px 203px #b6dcff,
    374px 221px #b6dcff,
    724px 1883px #b6dcff,
    970px 1362px #b6dcff,
    832px 505px #b6dcff,
    313px 233px #b6dcff,
    1909px 597px #b6dcff,
    434px 201px #b6dcff,
    587px 995px #b6dcff,
    1833px 623px #b6dcff,
    1464px 561px #b6dcff,
    231px 593px #b6dcff,
    1558px 1433px #b6dcff,
    1986px 1767px #b6dcff,
    1753px 1728px #b6dcff,
    1153px 1623px #b6dcff,
    249px 229px #b6dcff,
    1503px 1186px #b6dcff,
    1784px 137px #b6dcff,
    841px 403px #b6dcff,
    1400px 354px #b6dcff,
    197px 499px #b6dcff,
    1188px 681px #b6dcff,
    158px 391px #b6dcff,
    443px 1099px #b6dcff,
    723px 1445px #b6dcff,
    1408px 1235px #b6dcff,
    1908px 195px #b6dcff,
    271px 891px #b6dcff,
    469px 1693px #b6dcff,
    580px 11px #b6dcff,
    1533px 70px #b6dcff,
    859px 761px #b6dcff,
    1510px 1844px #b6dcff,
    421px 558px #b6dcff,
    1132px 1453px #b6dcff,
    757px 1987px #b6dcff,
    212px 293px #b6dcff,
    569px 323px #b6dcff,
    1404px 1394px #b6dcff,
    252px 1386px #b6dcff,
    1668px 1857px #b6dcff,
    123px 1684px #b6dcff,
    105px 490px #b6dcff,
    1083px 1769px #b6dcff,
    1071px 1953px #b6dcff,
    1271px 1159px #b6dcff,
    699px 1491px #b6dcff,
    1744px 1997px #b6dcff,
    1868px 1973px #b6dcff,
    1438px 1449px #b6dcff,
    1222px 1921px #b6dcff,
    1328px 1210px #b6dcff,
    438px 873px #b6dcff,
    809px 780px #b6dcff,
    491px 1524px #b6dcff,
    447px 1830px #b6dcff,
    927px 1936px #b6dcff,
    564px 691px #b6dcff,
    1784px 1747px #b6dcff,
    1978px 1722px #b6dcff,
    1599px 1480px #b6dcff,
    1276px 729px #b6dcff,
    731px 1174px #b6dcff,
    1586px 1711px #b6dcff,
    451px 1340px #b6dcff,
    1075px 1899px #b6dcff,
    13px 575px #b6dcff,
    309px 1340px #b6dcff,
    981px 183px #b6dcff,
    248px 1315px #b6dcff,
    849px 80px #b6dcff,
    1754px 1540px #b6dcff,
    73px 1432px #b6dcff,
    1208px 1828px #b6dcff,
    65px 575px #b6dcff,
    1098px 730px #b6dcff,
    127px 1358px #b6dcff,
    185px 19px #b6dcff,
    1222px 1679px #b6dcff,
    1122px 315px #b6dcff,
    1906px 452px #b6dcff,
    761px 284px #b6dcff,
    813px 492px #b6dcff,
    1344px 843px #b6dcff,
    118px 1834px #b6dcff,
    1620px 359px #b6dcff,
    1755px 1246px #b6dcff,
    299px 1076px #b6dcff,
    1746px 158px #b6dcff,
    6px 1635px #b6dcff,
    143px 190px #b6dcff,
    101px 468px #b6dcff,
    137px 971px #b6dcff,
    1221px 1929px #b6dcff,
    1752px 650px #b6dcff,
    1635px 1761px #b6dcff,
    1522px 833px #b6dcff,
    908px 153px #b6dcff,
    1044px 350px #b6dcff,
    1151px 1940px #b6dcff,
    822px 210px #b6dcff,
    1774px 310px #b6dcff,
    796px 1447px #b6dcff,
    1069px 1903px #b6dcff,
    217px 565px #b6dcff,
    662px 1370px #b6dcff,
    1876px 1570px #b6dcff,
    847px 46px #b6dcff,
    1042px 1689px #b6dcff,
    1584px 1434px #b6dcff,
    1791px 908px #b6dcff,
    973px 908px #b6dcff,
    793px 747px #b6dcff,
    122px 483px #b6dcff,
    1137px 1374px #b6dcff,
    1757px 1791px #b6dcff,
    513px 225px #b6dcff,
    63px 731px #b6dcff,
    1179px 1926px #b6dcff,
    346px 18px #b6dcff,
    589px 175px #b6dcff,
    87px 302px #b6dcff,
    380px 1295px #b6dcff,
    450px 921px #b6dcff,
    1667px 1973px #b6dcff,
    1495px 1373px #b6dcff,
    1462px 1850px #b6dcff,
    540px 288px #b6dcff,
    1208px 1051px #b6dcff,
    1554px 1095px #b6dcff,
    1009px 1516px #b6dcff,
    181px 572px #b6dcff,
    165px 387px #b6dcff,
    549px 1835px #b6dcff,
    960px 16px #b6dcff,
    1360px 403px #b6dcff,
    1251px 43px #b6dcff,
    1905px 1813px #b6dcff,
    1106px 866px #b6dcff,
    1809px 277px #b6dcff,
    1828px 1720px #b6dcff,
    295px 1610px #b6dcff,
    523px 166px #b6dcff,
    1069px 692px #b6dcff,
    1292px 217px #b6dcff,
    11px 1721px #b6dcff,
    99px 1045px #b6dcff,
    51px 1584px #b6dcff,
    1053px 266px #b6dcff,
    1287px 1235px #b6dcff,
    747px 1722px #b6dcff,
    1542px 736px #b6dcff,
    1256px 18px #b6dcff,
    102px 609px #b6dcff,
    586px 1339px #b6dcff,
    1843px 1697px #b6dcff,
    824px 1687px #b6dcff,
    1124px 882px #b6dcff,
    395px 501px #b6dcff,
    1456px 672px #b6dcff,
    1472px 1648px #b6dcff,
    1326px 1164px #b6dcff,
    777px 1672px #b6dcff,
    81px 345px #b6dcff,
    91px 386px #b6dcff,
    243px 411px #b6dcff,
    1560px 90px #b6dcff,
    6px 1771px #b6dcff,
    1601px 616px #b6dcff,
    1220px 1808px #b6dcff,
    1160px 836px #b6dcff,
    246px 1777px #b6dcff,
    456px 863px #b6dcff,
    97px 1138px #b6dcff,
    1811px 942px #b6dcff,
    213px 414px #b6dcff,
    891px 392px #b6dcff,
    1044px 927px #b6dcff,
    1856px 216px #b6dcff,
    957px 347px #b6dcff,
    1486px 406px #b6dcff,
    838px 912px #b6dcff,
    803px 361px #b6dcff,
    564px 826px #b6dcff,
    1597px 949px #b6dcff,
    1206px 289px #b6dcff,
    33px 1035px #b6dcff,
    1762px 1377px #b6dcff,
    789px 1815px #b6dcff,
    1594px 1342px #b6dcff,
    1668px 880px #b6dcff,
    1539px 1581px #b6dcff,
    1547px 53px #b6dcff,
    861px 1433px #b6dcff,
    693px 1618px #b6dcff,
    1762px 782px #b6dcff,
    1568px 682px #b6dcff,
    1126px 1762px #b6dcff,
    1242px 134px #b6dcff,
    495px 959px #b6dcff,
    1606px 219px #b6dcff,
    1878px 1415px #b6dcff,
    1652px 797px #b6dcff,
    782px 1903px #b6dcff,
    1774px 1133px #b6dcff,
    1430px 408px #b6dcff,
    265px 394px #b6dcff,
    890px 336px #b6dcff,
    1051px 311px #b6dcff,
    461px 1559px #b6dcff,
    1931px 91px #b6dcff,
    1160px 380px #b6dcff,
    1442px 1058px #b6dcff,
    1157px 364px #b6dcff,
    586px 227px #b6dcff,
    1365px 715px #b6dcff,
    1658px 1655px #b6dcff,
    1923px 1664px #b6dcff,
    1023px 1844px #b6dcff,
    1939px 1367px #b6dcff,
    1203px 1305px #b6dcff,
    359px 642px #b6dcff,
    1056px 425px #b6dcff,
    787px 202px #b6dcff,
    1609px 1850px #b6dcff,
    1964px 200px #b6dcff,
    1537px 586px #b6dcff,
    1589px 903px #b6dcff,
    1063px 1694px #b6dcff,
    760px 1185px #b6dcff,
    597px 1396px #b6dcff,
    294px 452px #b6dcff,
    433px 818px #b6dcff,
    199px 840px #b6dcff,
    1332px 1937px #b6dcff,
    169px 1907px #b6dcff,
    591px 834px #b6dcff,
    1716px 1032px #b6dcff,
    45px 1879px #b6dcff,
    686px 1469px #b6dcff,
    1520px 475px #b6dcff,
    1122px 859px #b6dcff,
    973px 1541px #b6dcff,
    269px 477px #b6dcff,
    1390px 716px #b6dcff,
    1791px 783px #b6dcff,
    824px 2000px #b6dcff,
    1211px 1717px #b6dcff,
    1008px 1587px #b6dcff,
    1422px 204px #b6dcff,
    234px 556px #b6dcff,
    506px 550px #b6dcff,
    942px 1670px #b6dcff,
    397px 853px #b6dcff,
    599px 795px #b6dcff,
    762px 1926px #b6dcff,
    1202px 1424px #b6dcff,
    135px 1316px #b6dcff,
    1442px 1692px #b6dcff,
    977px 652px #b6dcff,
    564px 1648px #b6dcff,
    997px 1474px #b6dcff,
    67px 1366px #b6dcff,
    1860px 1451px #b6dcff,
    1105px 772px #b6dcff,
    1886px 1396px #b6dcff,
    1510px 658px #b6dcff,
    976px 1544px #b6dcff,
    894px 543px #b6dcff,
    1098px 1189px #b6dcff,
    690px 77px #b6dcff,
    770px 733px #b6dcff,
    557px 1403px #b6dcff,
    1758px 1623px #b6dcff,
    1341px 812px #b6dcff,
    699px 967px #b6dcff,
    277px 866px #b6dcff,
    1526px 1828px #b6dcff,
    8px 977px #b6dcff,
    1707px 952px #b6dcff,
    12px 1900px #b6dcff,
    72px 921px #b6dcff,
    496px 1067px #b6dcff,
    1288px 1749px #b6dcff,
    273px 984px #b6dcff,
    1197px 1991px #b6dcff,
    242px 789px #b6dcff,
    903px 1035px #b6dcff,
    480px 1492px #b6dcff,
    102px 1331px #b6dcff,
    738px 1343px #b6dcff,
    560px 1475px #b6dcff,
    367px 846px #b6dcff,
    1420px 962px #b6dcff,
    1976px 892px #b6dcff,
    1911px 1763px #b6dcff,
    1639px 1002px #b6dcff,
    437px 1522px #b6dcff,
    1906px 1025px #b6dcff,
    730px 1364px #b6dcff,
    1127px 521px #b6dcff,
    1401px 1792px #b6dcff,
    1954px 1066px #b6dcff,
    232px 250px #b6dcff,
    1685px 660px #b6dcff,
    1011px 999px #b6dcff,
    1970px 790px #b6dcff,
    750px 499px #b6dcff,
    1738px 660px #b6dcff,
    1621px 1849px #b6dcff,
    446px 52px #b6dcff,
    1055px 1396px #b6dcff,
    1165px 1497px #b6dcff,
    1740px 1425px #b6dcff,
    1012px 1920px #b6dcff,
    1258px 1560px #b6dcff,
    1020px 1152px #b6dcff,
    362px 673px #b6dcff,
    1065px 975px #b6dcff,
    582px 755px #b6dcff,
    1271px 1479px #b6dcff,
    719px 548px #b6dcff,
    1602px 879px #b6dcff,
    590px 499px #b6dcff,
    721px 1412px #b6dcff,
    1180px 113px #b6dcff,
    1801px 1961px #b6dcff,
    589px 941px #b6dcff,
    883px 476px #b6dcff,
    214px 890px #b6dcff,
    1028px 892px #b6dcff,
    1107px 1832px #b6dcff,
    944px 361px #b6dcff,
    480px 1453px #b6dcff,
    1466px 683px #b6dcff,
    981px 745px #b6dcff,
    1968px 828px #b6dcff,
    657px 1830px #b6dcff,
    11px 1338px #b6dcff,
    179px 730px #b6dcff,
    1713px 197px #b6dcff,
    51px 955px #b6dcff,
    1243px 319px #b6dcff,
    1175px 624px #b6dcff,
    446px 46px #b6dcff,
    5px 1158px #b6dcff,
    82px 1352px #b6dcff,
    1877px 402px #b6dcff,
    708px 1778px #b6dcff,
    903px 1625px #b6dcff,
    1824px 352px #b6dcff,
    1229px 140px #b6dcff,
    1518px 24px #b6dcff,
    1017px 512px #b6dcff,
    515px 699px #b6dcff,
    295px 265px #b6dcff,
    69px 1773px #b6dcff,
    1640px 1163px #b6dcff,
    536px 342px #b6dcff,
    970px 1766px #b6dcff,
    560px 1416px #b6dcff,
    577px 193px #b6dcff,
    469px 9px #b6dcff,
    466px 276px #b6dcff,
    711px 853px #b6dcff,
    401px 685px #b6dcff,
    85px 506px #b6dcff,
    865px 558px #b6dcff,
    631px 105px #b6dcff,
    887px 866px #b6dcff,
    1704px 1001px #b6dcff,
    1051px 1199px #b6dcff,
    275px 1909px #b6dcff,
    1462px 829px #b6dcff,
    375px 1057px #b6dcff,
    1531px 1501px #b6dcff,
    205px 403px #b6dcff,
    33px 1869px #b6dcff,
    967px 1176px #b6dcff,
    376px 863px #b6dcff,
    1769px 1545px #b6dcff,
    535px 51px #b6dcff,
    1972px 1569px #b6dcff,
    1773px 960px #b6dcff,
    487px 620px #b6dcff,
    1660px 687px #b6dcff,
    1632px 972px #b6dcff,
    1362px 42px #b6dcff,
    479px 1655px #b6dcff,
    1531px 1808px #b6dcff,
    1450px 1412px #b6dcff,
    1549px 170px #b6dcff,
    1904px 1305px #b6dcff,
    1209px 48px #b6dcff,
    1933px 820px #b6dcff,
    1623px 595px #b6dcff,
    48px 643px #b6dcff,
    179px 1754px #b6dcff,
    589px 1032px #b6dcff,
    1199px 356px #b6dcff,
    1755px 1418px #b6dcff,
    780px 1174px #b6dcff,
    1905px 758px #b6dcff,
    1567px 713px #b6dcff,
    1372px 705px #b6dcff,
    456px 654px #b6dcff,
    759px 690px #b6dcff,
    452px 673px #b6dcff,
    993px 1610px #b6dcff,
    1271px 188px #b6dcff,
    343px 1750px #b6dcff,
    1943px 1735px #b6dcff,
    1717px 853px #b6dcff,
    1247px 303px #b6dcff,
    1314px 1895px #b6dcff,
    1203px 489px #b6dcff,
    741px 469px #b6dcff,
    4px 246px #b6dcff,
    1515px 115px #b6dcff,
    606px 218px #b6dcff,
    1966px 1471px #b6dcff,
    177px 87px #b6dcff,
    1575px 588px #b6dcff,
    1136px 1386px #b6dcff,
    70px 1868px #b6dcff,
    1053px 18px #b6dcff,
    1124px 721px #b6dcff,
    1748px 1181px #b6dcff,
    191px 1387px #b6dcff,
    1931px 840px #b6dcff,
    1088px 1603px #b6dcff,
    634px 1255px #b6dcff,
    814px 1434px #b6dcff,
    585px 64px #b6dcff,
    1074px 1618px #b6dcff,
    1692px 761px #b6dcff,
    651px 643px #b6dcff,
    193px 335px #b6dcff,
    1103px 1447px #b6dcff,
    491px 1142px #b6dcff,
    521px 408px #b6dcff,
    536px 340px #b6dcff,
    411px 1091px #b6dcff,
    1646px 193px #b6dcff,
    1595px 1285px #b6dcff,
    870px 1349px #b6dcff,
    1085px 1013px #b6dcff,
    204px 1864px #b6dcff,
    1359px 299px #b6dcff,
    807px 964px #b6dcff,
    219px 509px #b6dcff,
    36px 1227px #b6dcff,
    702px 1873px #b6dcff,
    1471px 934px #b6dcff,
    1763px 792px #b6dcff,
    973px 1957px #b6dcff,
    987px 68px #b6dcff,
    593px 1282px #b6dcff,
    1900px 607px #b6dcff,
    407px 1659px #b6dcff,
    587px 17px #b6dcff,
    632px 158px #b6dcff;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes animStar {
  from {
    -moz-transform: translateY(0px);
  }
  to {
    -moz-transform: translateY(-2000px);
  }
}

@-ms-keyframes animStar {
  from {
    -ms-transform: translateY(0px);
  }
  to {
    -ms-transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
